{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content
%}
<h1 align="center">Présentation de la base de données Agritox</h1>
<p align="center">
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/3c/Flask_logo.svg/langfr-1920px-Flask_logo.svg.png" alt="Flask" width="200" height="100">
</p>
<br/>
<p align="justify">
AGRITOX est une base de données créée en 1986 par l'INRA. Seules les données jugées valides par les experts des instances officielles d'évaluation au niveau français et/ou européen sont présentées, elles proviennent des dossiers de substances actives et/ou de demande d'autorisation de mise sur le marché soumis par les industriels et des données publiées dans la littérature scientifique.</p>
<br/>
<p align="justify">
Les fichiers contiennent les données essentielles (identité, propriétés physico-chimiques, toxicité aiguë, valeurs toxicologiques de référence, écotoxicité, classement) des substances actives approuvées au titre du Règlement (CE) N°1107/2009 ou ayant fait l’objet d’un retrait de l’approbation récent.</p>
<br/>
<p align="justify">
La base de données de la Commission européenne présente le statut réglementaire des substances actives phytopharmaceutiques.</p>
<br/>
<p align="justify">
Les fichiers sont publiés par l’Anses et la mise à jour à lieu tous les 2 mois environ.</p>



{% endblock %}
