{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content
%}
<p align="center">
  <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/3c/Flask_logo.svg/langfr-1920px-Flask_logo.svg.png" alt="Flask" width="200" height="100">
</p>
<br/>

<h3 align="center">Veuillez laisser votre commentaire ici</h3>

<ul class="list-group list-group-flush" id="notes">
  {% for note in user.notes %}
  <li class="list-group-item">
    {{ note.data }}
    <button type="button" class="close" onClick="deleteNote({ note_id })">
      <span aria-hidden="true">&times;</span>
    </button>
  </li>
  {% endfor %}
</ul>
<form method="POST">
  <textarea name="data" id="note" class="form-control"></textarea>
  <br />
  <div align="center">
    <button type="submit" class="btn btn-primary">Publier un commentaire</button>
  </div>
</form>
{% endblock %}
